.grid-cell {
  display: flex;
}

.grid-cell-info {
  margin-bottom: 0;
  margin-top: 55%;
  min-height: 130px;
  background: rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 900px) {
    .main-grid {
      display: grid;
      grid-template-columns: repeat(4, 25%);
      grid-gap: 10px 10px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 899px) {
    .main-grid {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-gap: 10px 10px;
    }
}

@media only screen and (max-width: 499px) {
    .main-grid {
      display: grid;
      grid-template-columns: repeat(1, 100%);
      grid-gap: 10px 10px;
    }
}