<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title th:text="${quiz.title}"></title>
    <link rel="icon" type="image/png" href="/images/logo.png">
    <link rel="stylesheet" href="/common.css" media="screen">
    <link rel="stylesheet" href="/CurrentQuiz.css" media="screen">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <meta name="theme-color" content="#478ac9">

    <meta property="og:type"  content="website" />
    <meta property="og:url"   th:content="'https://quiz-tournament.fly.dev/api/quizzes/' + ${quiz.id}" />
    <meta property="og:title" th:content="${quiz.title}" />
    <meta property="og:description"   th:content="${quiz.description == null || quiz.description == ''} ? '&nbsp;' : ${quiz.description}" />
    <meta property="og:image" th:content="${quiz.image}" />
  </head>
  <body class="c-body">
    <header class="c-header">
      <div>
        <div class="c-header-elements c-margin-width-wide c-margin-width-mobile">
          <div style="display: flex; flex-direction: row; align-items: center;">
            <a href="/api/quizzes"
               style="width: 60px; height: 60px; background-image: url(/images/logo.png); background-size: cover;"></a>
            <h6 class="header-logo">
              <a href="/api/quizzes" style="color: white; background-color: transparent; text-decoration: none;">Quiz
                Tournament</a>
            </h6>
          </div>

          <nav>
            <!--          <a href="/api/quizzes" style = "color: white; background-color: transparent; text-decoration: none; margin-right: 20px;">Home</a>-->
            <!--          <a th:href="@{/api/users/current}" style = "color: white; background-color: transparent; text-decoration: none; margin-right: 20px;">My profile</a>-->
          </nav>

          <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">

            <div class="header-user-gradient-border">
              <a href="#user-menu">
                <div class="header-user-image-container">
                  <img th:if="${currentUser != null}" class="header-user"
                       th:src="${currentUser.image}"
                       alt="" data-image-width="100" data-image-height="100">
                  <img th:if="${currentUser == null}" class="header-user" th:src="@{'/images/users/user-header.png'}"
                       alt="" data-image-width="30" data-image-height="30">
                </div>
              </a>
            </div>

            <div id="user-menu" class="overlay">
              <div class="popup popup-wide popup-mobile">
                <div style="display: flex; flex-direction: row; justify-content: space-between; align-items:center;">
                  <div th:if="${currentUser == null}" id="anon-opts" style="display: flex; flex-direction: column;">
                    <a th:href="@{/login}" style="margin-bottom: 5px;">
                      <input type="button" value="Log in"/>
                    </a>
                    <a th:href="@{/api/register}">
                      <input type="button" value="Sign in"/>
                    </a>
                  </div>
                  <div th:if="${currentUser != null}" id="logged-opts" style="display: flex; flex-direction: column;">
                    <a th:href="@{/api/users/current}" style="margin-bottom: 5px;">
                      <input type="button" value="Profile"/>
                    </a>
                    <form th:action="@{/logout}" method="post">
                      <input type="submit" value="Log out"/>
                    </form>
                  </div>
                  <div>
                    <a class="close" href="#">X</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section style="margin-top: 50px;">
      <div class="main-area">
      <div>
          <img class="q_img" th:src="${quiz.image}">
      </div>

        <div class="pad-left">
          <h2 th:text="${quiz.title}"></h2>

          <div style="font-size: 20px; color: lightslategray;">
            <span th:text="${quiz.user.nickname}">User</span>
            <span th:text="' | Comments (' + ${commentsCount} +')'"></span>
          </div>

          <div style="font-family: 'Oswald'; margin-top: 20px;" th:text="${quiz.text}"></div>
            <form style="margin-top: 10px;" action="#" th:action="@{/api/quizzes/{id}/solve(id=${quiz.id})}" th:object="${quiz}" method="post">
                <ul style="padding-left: 0px;">
                    <li th:each="option, state : ${quiz.options}">

                        <div th:object="${answerInterceptor}" >
                          <input type="checkbox" th:field="*{answer}" th:value="${state.index}">
                        </div>

                        <label th:for="${#ids.next('options')}" th:text="${option}"></label>
                    </li>
                </ul>
                  <input type="submit" class="btn" value="Send"/>
            </form>

            <div>
                <p th:if="${feedback != null}" th:text="${feedback.feedback}"></p>
            </div>

            <div th:if="${currentUser != null && quiz.user.email == currentUser.email}" style="display: flex; flex-direction: row; align-items: center; justify-content: space-evenly; margin-top: 20px">
                <form action="#" th:action="@{/api/quizzes/update}" th:object="${quiz}" th:method="post">
                    <input hidden type="text" th:field="*{id}"/>
                    <input hidden type="text" th:field="*{title}"/>
                    <input hidden type="text" th:field="*{description}"/>
                    <input hidden type="text" th:field="*{text}"/>
                    <input hidden type="text" th:field="*{image}"/>
                    <input hidden type="text" th:field="*{user}"/>
                    <input hidden type="text" th:field="*{options}"/>
                    <input hidden type="text" th:field="*{answer}"/>
                    <button type="submit" class="btn">Update</button>
                </form>

                <form action="#" th:action="@{/api/quizzes/{id}(id=${quiz.id})}" th:object="${quiz}" th:method="delete">
                    <button type="submit" class="btn">Delete</button>
                </form>
            </div>
        </div>
      </div>
    </section>

    <section>
      <div style="display: flex; align-items: center; justify-content: space-evenly; margin-bottom: 20px; margin-top: 10px;">
        <a href="/api/quizzes" class="a_btn btn">&lt; Back</a>
        <a th:href="@{/api/quizzes/{id}/comments(id=${quiz.id})}" class="a_btn btn">Comments</a>
      </div>
    </section>

    <footer style="background-color: #252525; color: #ffffff; text-align: center;">
      <div>
        <p>Quiz Tournament<br></p>
      </div>
    </footer>
  </body>
</html>