<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>My profile</title>
    <link rel="icon" type="image/png" href="/images/logo.png">
    <link rel="stylesheet" href="/common.css" media="screen">
    <link rel="stylesheet" href="/Login.css" media="screen">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <meta name="theme-color" content="#478ac9">
</head>
<body class="c-body">
  <header class="c-header">
        <div>
            <div class="c-header-elements c-margin-width-wide c-margin-width-mobile">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <a href="/api/quizzes"
                       style="width: 60px; height: 60px; background-image: url(/images/logo.png); background-size: cover;"></a>
                    <h6 class="header-logo">
                        <a href="/api/quizzes" style="color: white; background-color: transparent; text-decoration: none;">Quiz
                            Tournament</a>
                    </h6>
                </div>

                <nav>
                    <!--          <a href="/api/quizzes" style = "color: white; background-color: transparent; text-decoration: none; margin-right: 20px;">Home</a>-->
                    <!--          <a th:href="@{/api/users/current}" style = "color: white; background-color: transparent; text-decoration: none; margin-right: 20px;">My profile</a>-->
                </nav>

                <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">

                    <div class="header-user-gradient-border">
                        <a href="#user-menu">
                            <div class="header-user-image-container">
                                <img th:if="${currentUser != null}" class="header-user"
                                     th:src="${currentUser.image}"
                                     alt="" data-image-width="100" data-image-height="100">
                                <img th:if="${currentUser == null}" class="header-user" th:src="@{'/images/users/user-header.png'}"
                                     alt="" data-image-width="30" data-image-height="30">
                            </div>
                        </a>
                    </div>

                    <div id="user-menu" class="overlay">
                        <div class="popup popup-wide popup-mobile">
                            <div style="display: flex; flex-direction: row; justify-content: space-between; align-items:center;">
                                <div th:if="${currentUser == null}" id="anon-opts" style="display: flex; flex-direction: column;">
                                    <a th:href="@{/login}" style="margin-bottom: 5px;">
                                        <input type="button" value="Log in"/>
                                    </a>
                                    <a th:href="@{/api/register}">
                                        <input type="button" value="Sign in"/>
                                    </a>
                                </div>
                                <div th:if="${currentUser != null}" id="logged-opts" style="display: flex; flex-direction: column;">
                                    <a th:href="@{/api/users/current}" style="margin-bottom: 5px;">
                                        <input type="button" value="Profile"/>
                                    </a>
                                    <form th:action="@{/logout}" method="post">
                                        <input type="submit" value="Log out"/>
                                    </form>
                                </div>
                                <div>
                                    <a class="close" href="#">X</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

  <section>
    <h2 align="center" th:text="'Login'"></h2>
    <div>
        <form action="/login-request" method="post">
            <div>

                <div class="u-layout" >
                        <div style="display: flex; flex-direction: column; padding-top: 30px;">
                            <div style="display: flex; flex-direction:row; justify-content: center;">
                                <span style="height: 38px;"><img class="user-fields-icon" src="/images/1828032.png" alt=""></span>
                                <input style="height: 38px;" type="text" name="email" placeholder="Email" required/>
                            </div>

                            <div style="display: flex; flex-direction:row; justify-content: center;">
                                <span style="height: 38px;"><img class="user-fields-icon" src="/images/1828032.png"></span>
                                <input style="height: 38px;" type="password" name="password" placeholder="Password" required/>
                            </div>

                            <div style="display: flex; flex-direction:row; justify-content: center; margin-top: 20px">
                                <input type="submit" class="btn" style="margin-right: 20px;">
                                <a href="/api/register" class="btn a_btn" style="margin-left: 20px;">Sign in</a>
                            </div>
                        </div>
                    </div>
            </div>

        </form>

    </div>
</section>

    <footer style="background-color: #252525; color: #ffffff; text-align: center;">
        <div>
            <p>Quiz Tournament<br></p>
        </div>
    </footer>
</body>
</html>