<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>My profile</title>
    <link rel="icon" type="image/png" href="/images/logo.png">
    <link rel="stylesheet" href="/Profile.css" media="screen">
    <link rel="stylesheet" href="/common.css" media="screen">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <meta name="theme-color" content="#478ac9">
  </head>
  <body class="c-body">
    <header class="c-header">
      <div>
        <div class="c-header-elements c-margin-width-wide c-margin-width-mobile">
          <div style="display: flex; flex-direction: row; align-items: center;">
            <a href="/api/quizzes"
               style="width: 60px; height: 60px; background-image: url(/images/logo.png); background-size: cover;"></a>
            <h6 class="header-logo">
              <a href="/api/quizzes" style="color: white; background-color: transparent; text-decoration: none;">Quiz
                Tournament</a>
            </h6>
          </div>

          <nav>
            <!--          <a href="/api/quizzes" style = "color: white; background-color: transparent; text-decoration: none; margin-right: 20px;">Home</a>-->
            <!--          <a th:href="@{/api/users/current}" style = "color: white; background-color: transparent; text-decoration: none; margin-right: 20px;">My profile</a>-->
          </nav>

          <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">

            <div class="header-user-gradient-border">
              <a href="#user-menu">
                <div class="header-user-image-container">
                  <img th:if="${currentUser != null}" class="header-user"
                       th:src="${currentUser.image}"
                       alt="" data-image-width="100" data-image-height="100">
                  <img th:if="${currentUser == null}" class="header-user" th:src="@{'/images/users/user-header.png'}"
                       alt="" data-image-width="30" data-image-height="30">
                </div>
              </a>
            </div>

            <div id="user-menu" class="overlay">
              <div class="popup popup-wide popup-mobile">
                <div style="display: flex; flex-direction: row; justify-content: space-between; align-items:center;">
                  <div th:if="${currentUser == null}" id="anon-opts" style="display: flex; flex-direction: column;">
                    <a th:href="@{/login}" style="margin-bottom: 5px;">
                      <input type="button" value="Log in"/>
                    </a>
                    <a th:href="@{/api/register}">
                      <input type="button" value="Sign in"/>
                    </a>
                  </div>
                  <div th:if="${currentUser != null}" id="logged-opts" style="display: flex; flex-direction: column;">
                    <a th:href="@{/api/users/current}" style="margin-bottom: 5px;">
                      <input type="button" value="Profile"/>
                    </a>
                    <form th:action="@{/logout}" method="post">
                      <input type="submit" value="Log out"/>
                    </form>
                  </div>
                  <div>
                    <a class="close" href="#">X</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section style="margin-bottom: 20px;">
      <h2 align="center" th:text="'My profile'"></h2>
      <div class="c-margin-width-wide c-margin-width-mobile">

          <form action="#" th:action="@{/api/users/current}" th:object="${currentUser}" method="post" enctype="multipart/form-data">

            <div style="margin-top: 50px;">
              <div>
                <div class="update-user-area">
                    <div>
                        <div style="display: flex; flex-direction:row;">
                          <span style="height: 38px;"><img class="user-fields-icon" src="/images/1828032.png" alt=""></span>
                          <input style="height: 38px;" type="text" th:field="*{nickname}" placeholder="Username"/>
                        </div>

                        <div style="display: flex; flex-direction:row;">
                          <span style="height: 38px;"><img class="user-fields-icon" src="/images/1828032.png" alt=""></span>
                          <input style="height: 38px;" type="text" th:field="*{email}" placeholder="Email"/>
                        </div>

                        <div style="display: flex; flex-direction:row;">
                          <span style="height: 38px;"><img class="user-fields-icon" src="/images/1828032.png" alt=""></span>
                          <input style="height: 38px;" type="password" th:field="*{password}" placeholder="Old password"/>
                        </div>

                        <div style="display: flex; flex-direction:row;">
                          <span style="height: 38px;"><img class="user-fields-icon" src="/images/1828032.png" alt=""></span>
                          <input style="height: 38px;" type="password" th:name="newPassword" placeholder="New password"/>
                        </div>
                    </div>

                    <div class="user-photo" style="display: flex; flex-direction: column;">
                      <img style="width: 300px; height: 300px;" th:src="${currentUser.image}" data-image-width="256" data-image-height="256"/>
                      <input style="font-size: 20px;" type="file" th:name="avatar">
                    </div>
            </div>

          </div>
        </div>
          <input type="submit" class="btn" style="left: 50%; margin-top: 20px;">
          </form>

          <div style="display: flex; flex-direction: row; align-items: center; justify-content: flex-start;">
            <h2>Created by me</h2>
            <a href="/api/quizzes/create" class="btn a_btn" style="margin-top: 20px; margin-left: 20px;">New</a>
          </div>

        <div style="margin-top: 13px; height: 209px;">
          <div class="list-container">

              <th:block th:each="quiz : ${currentUser.getQuizzes}">
                <a th:href="@{/api/quizzes/{id}(id=${quiz.id})}">
                  <div class="list-img-container">
                      <div style="height: 100%;">
                             <img class="list-image" th:src="${quiz.image}">
                      </div>
                      <div class="fade gray-box q-text">
                          <h3 th:text="${quiz.title}"></h3>
                          <p th:text="${quiz.description}"></p>
                      </div>
                  </div>
                </a>
              </th:block>

          </div>
        </div>

          <h2>Solved quizzes</h2>
              <div style="margin-top: 13px; height: 209px;">
          <div class="list-container">

              <th:block th:each="quiz : ${solvedQuizzes}">
                <a th:href="@{/api/quizzes/{id}(id=${quiz.quiz.id})}">
                  <div class="list-img-container">
                    <div style="height: 100%;">
                        <img class="list-image" th:src="${quiz.quiz.image}">
                    </div>
                    <div class="fade gray-box q-text">
                      <h3 th:text="${quiz.quiz.title}"></h3>
                      <p th:text="${quiz.quiz.description}"></p>
                    </div>
                  </div>
                </a>
              </th:block>

          </div>
              </div>

        </div>
      </div>
    </section>

    <footer style="background-color: #252525; color: #ffffff; text-align: center;">
      <div>
        <p>Quiz Tournament<br></p>
      </div>
    </footer>
  </body>
</html>